* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#container {
  background-color: #00B0A1;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.backgroundImage {
  width: 100vw;
  /*height: 100vh;*/
  background-color: #00B0A1;
  z-index: 1;
  position: absolute;
  top: 0;
}

div.backgroundImage > img {
  width: 100%;
  z-index: 1;
}

#links {
  position: relative;
  top: 0;
  left: 0;
  z-index: 200;
  width: 50px;
  border: 2px solid red;
}

.socialLinkImg {
  width: 25%;
  margin: 0 0;
}

#loader {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 100;

  transition-duration: 2s;
  transition-delay: 0.5s;
  transition-property: opacity;

  position: absolute;
  top: 0;
}
